<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yun.daily.report.dao.ReportDao" >
  <resultMap id="reportResultMap" type="com.yun.daily.report.domain.Report" >
    <id column="report_id" property="reportId" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="type_value" property="typeValue" jdbcType="VARCHAR" />
    <result column="summary" property="summary" jdbcType="VARCHAR" />
    <result column="plan" property="plan" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="name" property="authorName" />
  </resultMap>
  <sql id="columns" >
    report_id, account, title,content, type, type_value, summary, plan,create_time, update_time
  </sql>

  <sql id="reportWhereCondition">
    <where>
      <if test=" report.account != null and report.account != '' and report.account != 'null' ">
        <![CDATA[ AND A.account = #{report.account} ]]>
      </if>
      <if test=" report.title != null and report.title != '' and report.title != 'null' ">
        <![CDATA[ AND A.title = #{report.title} ]]>
      </if>
      <if test=" report.content != null and report.content != '' and report.content != 'null' ">
        <![CDATA[ AND A.content = #{report.content} ]]>
      </if>
      <if test=" report.type != null and report.type != '' and report.type != 'null' ">
        <![CDATA[ AND A.type = #{report.type} ]]>
      </if>
      <if test=" report.typeValue != null and report.typeValue != '' and report.typeValue != 'null' ">
        <![CDATA[ AND A.type_value = #{report.typeValue} ]]>
      </if>
      <if test=" report.beginTime != null and report.beginTime != '' and report.beginTime != 'null' ">
        <![CDATA[ AND str_to_date(A.type_value,'%Y-%m-%d') >= #{report.beginTime} ]]>
      </if>
      <if test=" report.endTime != null and report.endTime != '' and report.endTime != 'null' ">
        <![CDATA[ AND str_to_date(A.type_value,'%Y-%m-%d') <= #{report.endTime} ]]>
      </if>
      <if test=" report.summary != null and report.summary != '' and report.summary != 'null' ">
        <![CDATA[ AND A.summary = #{report.summary} ]]>
      </if>
      <if test=" report.plan != null and report.plan != '' and report.plan != 'null' ">
        <![CDATA[ AND A.plan = #{report.plan} ]]>
      </if>
      <if test=" report.createTime != null and report.createTime != '' and report.createTime != 'null' ">
        <![CDATA[ AND A.create_time = #{report.createTime} ]]>
      </if>
      <if test=" report.updateTime != null and report.updateTime != '' and report.updateTime != 'null' ">
        <![CDATA[ AND A.update_time = #{report.updateTime} ]]>
      </if>
    </where>
  </sql>

  <insert id="insert" parameterType="com.yun.daily.report.domain.Report" >
    <selectKey resultType="Long" keyProperty="reportId" order="AFTER">
      SELECT
      LAST_INSERT_ID()
    </selectKey>
    insert into td_report ( account, title,
    type, type_value, create_time,
    update_time, content, summary,
    plan)
    values (#{account,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR},
    #{type,jdbcType=VARCHAR}, #{typeValue,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
    #{updateTime,jdbcType=TIMESTAMP}, #{content,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR},
    #{plan,jdbcType=VARCHAR})
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long" >
    delete from td_report
    where report_id = #{reportId}
  </delete>

  <update id="update" parameterType="com.yun.daily.report.domain.Report" >
    update td_report
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="plan != null" >
        plan = #{plan,jdbcType=VARCHAR},
      </if>
    </set>
    where report_id = #{reportId}
  </update>

  <select id="selectById" resultMap="reportResultMap" parameterType="java.lang.String" >
    select
    <include refid="columns" />
    from td_report
    where report_id = #{reportId}
  </select>

  <select id="selectByTypeValue" resultMap="reportResultMap" parameterType="java.util.Map" >
    select
    <include refid="columns" />
    from td_report
    where type_value = #{typeValue} AND account=#{account}
  </select>

  <select id="selectByCondition" resultMap="reportResultMap" parameterType="java.util.List" >
    <![CDATA[ SELECT A.*,B.name from td_report A,td_person_user B  WHERE A.account=B.account AND  A.report_id IN  ]]>
    <foreach collection="list" item="id" index="index" open="(" close=")" separator="," >
     #{id}
    </foreach>
    <![CDATA[ order by A.report_id desc ]]>
  </select>

  <select id="selectIdsByCondition" resultType="java.lang.Long" parameterType="java.util.Map" >
    <![CDATA[ select A.report_id from td_report A]]>
    <include refid="reportWhereCondition" />
    <![CDATA[ order by A.report_id desc ]]>
    <if test="first != null" >
      limit #{first},#{pageSize}
    </if>
  </select>





</mapper>