<!DOCTYPE html>
<!--通过http://www.thymeleaf.org命名空间，将镜头页面转换为动态的视图，需要进行动态处理的元素将使用“th:”为前缀-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="x-ua-compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <!--上面3个meta标签必须是head的头三个标签，其余的head内标签在此3个标签之后-->
    <title>日报系统首页</title>
    <!--使用@{}引用web静态资源，这在jsp下是极易出错的-->
    <link th:href="@{/js/bootstrap-3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/js/bootstrap-3.3.7/css/bootstrap-theme.min.css}" rel="stylesheet"/>

    <!--HTML5 shiv and respond.js 用来让ie8支持html5元素和媒体查询.
    在页面中调用html5.js文件必须添加在页面的head元素内，因为IE浏览器必须在元素解析前知道这个元素，
    所以这个js文件不能在页面底部调用-->

    <!--[if lt IE 9]>
    <script th:src="@{/js/html5shiv/html5shiv.js}"></script>
    <script th:src="@{/js/respond.min.js}"></script>
    <![ENDIF]-->
</head>
<body>
<a th:href="@{/login}">登录</a>
<a th:href="@{/register}">注册</a>
<a th:href="@{/api/v1/report/reports}">日报</a>
<a href="#" onclick="signout()">退出</a>
  <h2>人员列表</h2>
  <form method="post">
      <label for="name">姓名:</label>
      <input type="text" id="name" name="name"/><br/>
      <label for="age" >年龄:</label>
      <input type="text" id="age" name="age"/><br/>
      <input type="submit"/>
  </form>
<!--判断-->
<div th:if="${not #lists.isEmpty(users)}">
    <div>
        <h3>用户列表</h3>
    </div>
  <!--迭代-->
  <ul th:each="user:${users}">
      <li>
          <!--通过${}访问model中的属性，和jsp一样，需要动态处理的需要加上“th:”前缀-->
          <span th:text="${user.id}">First</span>
          <span th:text="${user.name}">name</span>
          <span th:text="${user.age}">age</span>
          <!--在html代码里访问model的值,格式：th:onclick="'getName(\''+${user.name}+'\');'"-->
          <button th:onclick="'getName(\''+${user.name}+'\');'"></button>
      </li>
  </ul>
</div>

<script th:src="@{/js/jquery-1.12.4.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap-3.3.7/js/bootstrap.min.js}" type="text/javascript"></script>
<!--通过th:inline="javascript"添加到script标签，这样JavaScript代码即可访问model中的属性-->
<script th:inline="javascript">
    /*通过[[${}]]格式获得实际的值*/
    var user = [[${personUser}]];
    console.log(user.name+"/"+user.age);
    function getName(name) {
        $.ajax({
            url:"getUser",
            type:"post",
            data:{
                account:document.all("account").value,
                password:document.all("password").value
            },
            header:{"Authorization":"Bearer "+sessionStorage.jwt},
            success:function (res) {
                console.log("res："+res);
                console.log("res.data："+res.data);
                if(res){
                    if(res.code==477){
                        console.log("477:用户或密码错误");
                    }else{
                        console.log("res.code："+res.code);
                        sessionStorage.jwt=res;

                        //转到主页
                        window.location.href="index";
                    }
                }else{
                    console.log("账户或密码错误");
                }
            },
            error:function () {
                console.log("账户或密码错误");
            }
        })
    }
    function signout(){
        sessionStorage.jwt="";
        var host = window.location.host;
        window.location = "https://"+host;
    }
</script>
</body>
</html>