<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>日报系统首页</title>
</head>
<body>
<a th:href="@{/login}">登录</a>
<a th:href="@{/regester}">注册</a>
  <h2>人员列表</h2>
  <form method="post">
      <label for="name">姓名:</label>
      <input type="text" name="name"/><br/>
      <label for="age">年龄:</label>
      <input type="text" name="age"/><br/>
      <input type="submit"/>
  </form>
  <ul th:each="user:${users}">
      <li>
          <span th:text="${user.id}">First</span>
          <span th:text="${user.name}">name</span>
          <span th:text="${user.age}">age</span>
      </li>
  </ul>

</body>
</html>