<!DOCTYPE html>
<!--通过http://www.thymeleaf.org命名空间，将镜头页面转换为动态的视图，需要进行动态处理的元素将使用“th:”为前缀-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="x-ua-compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <!--上面3个meta标签必须是head的头三个标签，其余的head内标签在此3个标签之后-->
    <title>聊天室</title>
    <!--使用@{}引用web静态资源，这在jsp下是极易出错的-->
    <link th:href="@{/js/bootstrap-3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/js/bootstrap-3.3.7/css/bootstrap-theme.min.css}" rel="stylesheet"/>
    <link th:href="@{/js/bootstrap-table/bootstrap-table.min.css}"/>
    <link th:href="@{/js/bootstrap3-editable/css/bootstrap-editable.css}"/>
    <link th:href="@{/js/bootstrap-datetimepick/css/bootstrap-datetimepicker.min.css}" rel="stylesheet"/>
    <!--HTML5 shiv and respond.js 用来让ie8支持html5元素和媒体查询.
    在页面中调用html5.js文件必须添加在页面的head元素内，因为IE浏览器必须在元素解析前知道这个元素，
    所以这个js文件不能在页面底部调用-->

    <!--[if lt IE 9]>
    <script th:src="@{/js/html5shiv/html5shiv.js}"></script>
    <script th:src="@{/js/respond.min.js}"></script>
    <![ENDIF]-->

    <style type="text/css">
        body {
            min-height: 2000px;
            /*padding-top: 70px;*/
        }
        .person-list{
            cursor: pointer;
        }
        .person-list:hover{
            animation: test 0.4s ease;
            background-color:#a3bce4;
            width: 100%;
        }
        .person-list-active{
            animation: test 0.4s ease;
            background-color:#e8e8e8;
            width: 100%;
        }
        .message-r{
            float: right;
        }
        .message-l{
            float: left;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <ul class="nav nav-tabs" style="margin-bottom: 20px;">
                <li >
                    <a th:href="@{/index}">首页</a>
                </li>
                <li >
                    <a th:href="@{/reports}">日报</a>
                </li>
                <li >
                    <a th:href="@{/api/v1/report/reports-me}">我的日报</a>
                </li>
                <li class="active">
                    <a th:href="@{/api/v1/chat/toChat}">聊天室</a>
                </li>
                <li >
                    <a th:href="@{/api/v1/rabbitmq/send}">rabbitmq-发送消息</a>
                </li>
                <li class="dropdown pull-right">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span th:text="${person.name}"></span><strong class="caret"></strong></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">个人信息</a>
                        </li>
                        <li>
                            <a href="#">待定</a>
                        </li>
                        <li>
                            <a href="#">待定</a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="#">退出</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <div class="col-md-3 column">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            用户列表
                        </h3>
                    </div>
                    <div class="panel-body" th:each="p:${persons}">
                        <div th:text="${p.name}" class="person-list" th:alt-title="${p.account}" th:onclick="'startChat(this,\''+${p.account}+'\',\''+${p.name}+'\')'"></div>
                    </div>
                    <!--<div class="panel-footer">-->
                    <!--Panel footer-->
                    <!--</div>-->
                </div>
            </div>
            <div class="col-md-9 column">
                    <div id="messages" style="height:400px;border: solid #e8e8e8 1px;border-bottom: #ffffff;">
                        <div id="prompt" style="background: #e8e8e8;width: 100%;height: 30px;text-align: center;line-height: 30px;">暂没有建立聊天</div>
                    </div>
                    <form class="form-horizontal" role="form" id="chatForm" >
                        <div class="input-group">
                            <input type="hidden" id="account"/>
                            <input type="text" class="form-control" id="message" style="border: solid #e8e8e8 1px;"/>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">send</button>
                                <!--<button type="button" id="stop" class="btn btn-default">结束聊天</button>-->
                            </span>
                        </div>
                    </form>

            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/websocket/sockjs.min.js}" type="text/javascript"></script>
<script th:src="@{/js/websocket/stomp.min.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery-1.12.4.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap-3.3.7/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap-table/bootstrap-table.js}"></script>
<script th:src="@{/js/bootstrap3-editable/js/bootstrap-editable.js}"></script>
<script th:src="@{/js/bootstrap-table/extensions/editable/bootstrap-table-editable.min.js}"></script>
<script th:src="@{/js/bootstrap-table/locale/bootstrap-table-zh-CN.js}"></script>
<script th:src="@{/js/bootstrap-datetimepick/js/bootstrap-datetimepicker.min.js}" charset="UTF-8"></script>
<script th:src="@{/js/bootstrap-datetimepick/js/locales/bootstrap-datetimepicker.zh-CN.js}" charset="UTF-8"></script>
<script th:src="@{/js/My97DatePicker/WdatePicker.js}"></script>
<!--通过th:inline="javascript"添加到script标签，这样JavaScript代码即可访问model中的属性-->
<script type="text/javascript">
    var heartflag = false;
    var webSocket = null;
    var tryTime = 0;
    $(function () {
        initSocket();
    });

    $("#chatForm").submit(function (e) {
        e.preventDefault();
        sendMsg();
    });

    function  handleNotification(message) {
        console.log("handleNotification");
        var span = $("<span>"+message.body+"</span><br/>");
        span.addClass("message-l");
        $("#messages").append(span);
    }

    function startChat(obj,account,name){
        $(".person-list").removeClass("person-list-active");
        $(obj).addClass("person-list-active");

        $("#account").val(account);
        $("#prompt").text("与"+name+"聊天中");
    }

    function sendMsg() {
        // stompClient.send("/app/chat",{},JSON.stringify({
        //     'message':$("#message").val(),
        //     'sendTo':$("#account").val()
        // }));
        var account = $("#account").val();
        if(account==""){
           alert("请先选择聊天对象");
           return false;
        }
        var message = $("#message").val();
        if(message==""){
            alert("填写消息，才能发送");
            return false;
        }
        stompClient.send("/chat",{},JSON.stringify({
            'message':message,
            'sendTo':account
        }));
        var span = $("<span>我："+message+"</span><br/>");
        span.addClass("message-r");
        $("#messages").append(span);
        $("#message").val("");
    }
    $("#stop").click(function (){
        socket.close();
    })

    var socket;
    var stompClient;
    /**
     * 初始化websocket，建立连接
     */
    function initSocket() {
        socket = new SockJS("/endpointChat");//连接SockJS的endpoint名称为'endpointChat'
        stompClient = Stomp.over(socket);//使用stomp自协议的WebSocket客户端
        stompClient.connect('guest','guest',function(frame){//连接WebSocket客户端
            stompClient.subscribe("/user/queue/notifications",handleNotification);
        });

        /*// 收到服务端消息
        stompClient.onmessage = function (msg) {
            console.log("收到消息")
            $("#messages").append(getNowFormatDate()+"  收到消息 : "+msg.data+"<br/>");
        };

        // 异常
        stompClient.onerror = function (event) {
            heartflag = false;
            $("#prompt").text(getNowFormatDate()+" 连接异常");
        };

        // 建立连接
        stompClient.onopen = function (event) {
            heartflag = true;
            heart();
            $("#prompt").text(getNowFormatDate()+" 建立连接成功");
            tryTime = 0;
        };

        // 断线重连
        stompClient.onclose = function () {
            heartflag = false;
            // 重试10次，每次之间间隔10秒
            if (10 > tryTime) {
                setTimeout(function () {
                    stompClient = null;
                    tryTime++;
                    initSocket();
                    $("#prompt").text( getNowFormatDate()+" 第"+tryTime+"次重连");
                }, 3*1000);
            } else {
                alert("重连失败.");
            }
        };*/
    }

    function getNowFormatDate() {
        var date = new Date();
        var seperator1 = "-";
        var seperator2 = ":";
        var month = date.getMonth() + 1;
        var strDate = date.getDate();
        month = month >= 10?month:"0"+month;
        strDate = strDate >= 10?strDate:"0"+strDate;
        var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate
            + " " + date.getHours() + seperator2 + date.getMinutes()
            + seperator2 + date.getSeconds();
        return currentdate;
    }
    // function heart() {
    //     if (heartflag){
    //         stompClient.send("心跳测试");
    //         console.log(getNowFormatDate()+"  心跳 <br/>");
    //     }
    //     setTimeout("heart()", 10*60*1000);
    // }
</script>
</body>
</html>